body{
    font-family: Arial, Helvetica, sans-serif;
}
table#game td {
    background-color: beige;
    height: 100px;
    width: 100px;
    border: solid saddlebrown 5px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size:60px;
}

button#restart{
    padding: 8px;
    background-color: rosybrown;
    font-size: 20px;
    color: white;
    border-radius: 15px;
}